{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="feed">

<h1>🌙 LUNA</h1>

<div class="create-post">

<form method="POST" enctype="multipart/form-data">

{% csrf_token %}

<textarea
name="content"
placeholder="✨ What's happening in your universe?"
required></textarea>

<div class="post-actions">

<input type="file" name="image">

<button type="submit">
🚀 Post
</button>

</div>

</form>

</div>

{% for post in posts %}

<div class="post">

<div class="post-header">

{% if post.user.profile_picture %}
<img src="{{ post.user.profile_picture.url }}" class="profile-pic">
{% else %}
<img src="/static/images/default.png" class="profile-pic">
{% endif %}

<div>

<a class="username" href="/profile/{{ post.user.id }}/">

{{ post.user.name }}

</a>

<p class="time">

{{ post.created_at|timesince }} ago

</p>

</div>

</div>

<div class="post-content">

<p>

{{ post.content }}

</p>

{% if post.image %}

<img
src="{{ post.image.url }}"
class="post-image">

{% endif %}

</div>

<div class="post-buttons">

<a href="/like/{{ post.id }}/">
    <button>❤️ Like</button>
</a>

<p>❤️ {{ post.likes }} Likes</p>
{% if post.user.id == request.session.user_id %}

<a href="/edit-post/{{ post.id }}/">
<button>✏ Edit</button>
</a>

<a href="/delete-post/{{ post.id }}/">
<button>🗑 Delete</button>
</a>

{% endif %}

</div>

<form
method="POST"
action="/comment/{{ post.id }}/">

{% csrf_token %}

<input
type="text"
name="text"
placeholder="Write a comment...">

<button>
💬 Comment
</button>

</form>

{% for comment in comments %}

{% if comment.post.id == post.id %}

<div class="comment">

💬 {{ comment.text }}

</div>

{% endif %}

{% endfor %}

</div>

{% endfor %}

</div>

{% endblock %}